{
  "presets": ["react", "es2015"],
  "plugins":[
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy",
    ["babel-plugin-module-alias", [
      { "src": "./client", "expose": "client" },
      { "src": "./server", "expose": "server" },
      { "src": "./common", "expose": "common" },
      { "src": "./src/routes", "expose": "routes" },
      { "src": "./src/reducers", "expose": "reducers" },
      { "src": "./src/components", "expose": "components" },
      { "src": "./src/layout", "expose": "layout" }
    ]]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}