{
  "presets": ["react", "es2015"],
  "plugins":[
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy",
    ["babel-plugin-module-alias", [
      { "src": "./client", "expose": "client" },
      { "src": "./server", "expose": "server" },
      { "src": "./remote", "expose": "remote" },
      { "src": "./utils", "expose": "utils" },
      { "src": "./common/constants", "expose": "constants" },
      { "src": "./common/store", "expose": "store" },
      { "src": "./common/routes", "expose": "routes" },
      { "src": "./common/components", "expose": "components" },
      { "src": "./common/layout", "expose": "layout" }
    ]]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}